.Auth {
  width: 80%;
  text-align: center;
  margin: auto;
  border: 1px solid #eee;
  box-sizing: border-box;
  box-shadow: 0 2.5px 3px rgb(168, 168, 168);
  padding: 10px 13px;
  background-color: rgb(255, 255, 255);
}

.Layot {
  height: 100vh;
  padding-top: 100px;
}
.Auth form {
  border-bottom: solid rgb(184, 184, 184);
  border-width: thin;
}

.Input {
  display: block;
  width: 80%;
  height: 40px;
  margin: 10px auto;
  border: 1px solid #eee;
  box-sizing: content-box;
}

@media (min-width: 600px) {
  .Auth {
    width: 500px;
  }
}
