.sec {
  text-align: center;
  background-image: url("../../assets/BackgroundImage.jpg");
  height: 100vh;
  min-height: 35em;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  opacity: 0.9;
}
.inner {
  margin: auto;
  padding: 2rem;
  text-align: center;
  width: 50%;
  color: black;
  box-sizing: border-box;
  border-style: solid;
  border-color: black;
  border-width: medium;
  border-radius: 1rem;
}
.inner h1 {
  font-size: 3rem;
  transform: scale(1);
  display: inline-block;
  padding: 0.6rem 1rem;
  position: relative;
  margin: 0.4rem auto;
}
.inner span {
  margin: 0;
  font-size: 4rem;
}
.inner p {
  font-size: 1rem;
  letter-spacing: 0.225rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 1.5rem;
}

/* For small devices */
@media (max-width: 950px) {
  .inner {
    padding: 1.7rem;
    width: 70%;
  }
  .inner h1 {
    font-size: 2.5rem;
    padding: 0.4rem 0.8rem;
    margin: 0.3rem auto;
  }
  .inner span {
    font-size: 3rem;
  }
  .inner p {
    font-size: 0.8rem;
    letter-spacing: 0.2em;
  }
}
@media (max-width: 580px) {
  .inner {
    padding: 1.4rem 0;
    width: 65%;
  }
  .inner h1 {
    font-size: 2rem;
    padding: 0.3rem 0.6rem;
    margin: auto;
  }
  .inner span {
    font-size: 2.8rem;
  }
  .inner p {
    font-size: 0.79rem;
    letter-spacing: 0.16em;
    margin-top: 0.3rem;
  }
}
@media (max-width: 380px) {
  /* .sec {
    opacity: 0.86;
  } */

  .inner {
    opacity: 1;
    padding: 1rem;
    width: 80%;
  }
  .inner h1 {
    font-size: 2.1rem;
    padding: 0.2rem 0.6rem;
    margin: 0.2rem auto;
  }
  .inner span {
    font-size: 2.7rem;
  }
  .inner p {
    font-size: 0.66rem;
    letter-spacing: 0.13rem;
  }
}
